.favourite-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  margin-bottom: 20px;
}

.favourite-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.favourite-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 8px;
}

.favourite-item img {
  width: 200px;
  height: 200px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.favourite-item h3 {
  font-size: 18px;
  margin-bottom: 5px;
}

.favourite-item p {
  margin-bottom: 5px;
}

.favourite-item button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 4px;
}

.favourite-item button:hover {
  background-color: #0056b3;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.favourite-title-container {
  display: flex;
  align-items: center;
}

.favourite-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.favourite-title h2 {
  margin-bottom: 10px;
}
