.cart-table {
  border-collapse: collapse;
  width: 100%;
}

.cart-table-header {
  display: flex;
  background-color: #f2f2f2;
  font-weight: bold;
  flex: 1;
  padding: 8px;
}

.table-header-item {
  flex: 1;
  padding: 8px;
}

.table-row-item {
  padding: 8px;
}

.table-row-item img {
  vertical-align: middle;
  margin-right: 10px;
}

.cart-table-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.table-row-qty,
.table-row-price {
  flex-basis: 20%;
  text-align: center; /* Adjusted to center align Qty and Price */
}

.cart-table-row:nth-child(odd) {
  background-color: #f2f2f2;
}

.total-table {
  margin-top: 20px;
  border: 1px solid #ddd;
  border-collapse: collapse;
  width: 100%;
}

.total-table-row {
  background-color: #f2f2f2;
}

.total-table-item {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 3px;
  text-align: center;
}

.total-table-item.qty {
  text-align: left;
}

.total-table-item.price {
  text-align: right;
}

.delete-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}
