.my-pets-container {
  padding: 20px;
}

.slider {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-padding: 10px;
}

.pet-card {
  min-width: 300px;
  margin: 10px;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 8px;
  scroll-snap-align: start;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.pet-name {
  font-size: 18px;
  font-weight: bold;
}

.pet-type {
  font-size: 16px;
}

.pet-gender {
  font-size: 16px;
}

.pet-birthday {
  font-size: 16px;
}

.slider::-webkit-scrollbar {
  display: none;
}

@media (min-width: 768px) {
  .slider {
    overflow-x: scroll;
  }

  .slider::-webkit-scrollbar {
    display: initial;
  }
}
