.purchased-history-container {
  padding: 20px;
}

.order-list {
  list-style-type: none;
  padding: 0;
}

.order-item {
  margin-bottom: 20px;
}

.order-details {
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.order-details.expanded {
  background-color: #fff;
}

.order-details:hover {
  background-color: #eaeaea;
}

.arrow-icon {
  display: inline-block;
  transform: rotate(0deg);
  transition: transform 0.3s;
}

.order-details.expanded .arrow-icon {
  transform: rotate(180deg);
}

.item-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.item-table th,
.item-table td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

.item-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 30%;
  margin-right: 10px;
}

.return-main-button {
  text-align: center;
  margin-top: 20px;
}

.return-main-button button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.return-main-button button:hover {
  background-color: #0056b3;
}
