.purchased-history-container {
  margin: 20px;
}

h1 {
  text-align: center;
}

.order-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.order-item {
  border: 1px solid #ddd;
  padding: 20px;
  margin-bottom: 20px;
}

.order-details {
  margin-bottom: 10px;
}

.order-details p {
  margin: 0;
  font-weight: bold;
}

.item-table {
  width: 100%;
  border-collapse: collapse;
}

.item-table th,
.item-table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.item-image {
  width: 80px;
  height: auto;
  margin-right: 10px;
}

.item-name {
  font-weight: bold;
}

.item-quantity,
.item-amount {
  text-align: center;
}

.return-main-button {
  text-align: center;
}

.return-main-button button {
  padding: 10px 20px;
  background-color: orange;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.return-main-button button:hover {
  background-color: orangered;
}
